@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.selectlist-box {
  @apply m-2 flex flex-grow flex-col-reverse overflow-auto rounded border border-gray-400 p-1;
  @media (prefers-color-scheme: dark) {
    background-color: #272822;
  }
}

.selectlist-item {
  @apply block p-0.5 font-mono text-sm; /* add border-t if required */
  @apply dark:border-gray-700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (prefers-color-scheme: dark) {
    color: #a6e22e; /* Monokai green by default */
  }
}

.selectlist-item i {
  @apply bg-blue-200 not-italic;
  @media (prefers-color-scheme: dark) {
    background-color: hsl(50, 11%, 25%);
  }
}

.selectlist-sel {
  @apply bg-blue-300;
  @media (prefers-color-scheme: dark) {
    background-color: hsl(50, 11%, 33%);
  }
}

.selectlist-hover:hover {
  @apply hover:bg-blue-100 dark:hover:bg-[#414339];
}

.selectlist-input {
  @apply m-2 rounded border border-gray-400 p-1 font-mono focus:outline-none;
  @apply dark:bg-gray-800 dark:text-gray-200;
  @media (prefers-color-scheme: dark) {
    color: #e6db74;
  }
}

.dirhistory .selectlist-item {
  @media (prefers-color-scheme: dark) {
    color: #66d9ef; /* Monokai cyan for dir history */
  }
}

@media (prefers-color-scheme: dark) {
  .hl-program {
    color: #a6e22e;
  } /* Green monokai */
  .hl-builtin {
    color: #a6e22e;
    text-decoration: underline;
  }
  .hl-alias {
    color: #a6e22e;
    text-decoration: underline;
  }
  .hl-commandError {
    color: #f92672;
  } /* Fuchsia monokai */
  .hl-assignment {
    color: magentaBright;
  }
  .hl-parameter {
    color: #66d9ef;
  } /* Cyan monokai */
  .hl-environment {
    color: #e6db74;
  } /* VSCode monokai yellow */
  .hl-option {
    color: #ae81ff;
  } /* Purple monkai */
  .hl-quote {
    color: #fd971f;
  } /* Orange monokai */
  .hl-comment {
    color: #666666;
  } /* Dark grey */
}

@media (prefers-color-scheme: light) {
  .hl-program {
    color: #008000;
  }
  .hl-builtin {
    color: #008000;
    text-decoration: underline;
  }
  .hl-alias {
    color: #008000;
    text-decoration: underline;
  }
  .hl-commandError {
    color: #f92672;
  }
  .hl-assignment {
    color: magentaBright;
  }
  .hl-parameter {
    color: #0000ff;
  }
  .hl-environment {
    color: #795e26;
  }
  .hl-option {
    color: #af00db;
  }
  .hl-quote {
    color: #267f99;
  }
  .hl-comment {
    color: #001080;
  }
}
